<!DOCTYPE html>
<html>
<head>
	<title>peer</title>
	<link rel="stylesheet" type="text/css" href="./assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="sof">
	<div ng-controller="postController">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Peer Pool</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Posts</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="postList">
						<li ng-repeat="item in items">
							<div class="row">
								<div class="col-sm-3">
									<ul class="countList">
										<li>
											<ul class="scoreBlock">
												<li>
													<label class="icon-lg">{{item._ViewCount.length>0 ? item._ViewCount:'00'}}</label>
												</li>
												<li>
													<p>views</p>
												</li>
											</ul>
										</li>
										<li>
											<ul class="scoreBlock">
												<li>
													<label class="icon-lg">{{item._AnswerCount.length>0 ? item._AnswerCount:'00'}}</label>
												</li>
												<li>
													<p>answers</p>
												</li>
											</ul>
										</li>
										<li>
											<ul class="scoreBlock">
												<li>
													<label class="icon-lg">{{item._Score.length>0 ? item._Score:'00'}}</label>
												</li>
												<li>
													<p>scores</p>
												</li>
											</ul>
										</li>
									</ul>

								</div>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-sm-12">
											<h4><a data-toggle="collapse" data-target="#{{item._Id}}" ng-bind-html="item._Title.length>0 ? item._Title:'No TITLE' | unsafe" ng-click="showPost()"></a></h4>
											
										</div>
									</div>
									<div class="row">
										<div class="col-sm-8">
											<ul class="taglist">
												<li ng-bind-html="item._Tags.length>0 ? item._Tags:'NO TAGS' | unsafe">{{item._Tags}}</li>
											</ul>
										</div>
										<div class="col-sm-4">
											<p>asked : {{item._CreationDate}}</p>
										</div>
									</div>	
								</div>
							</div>
							<div class="row">
								<div id="{{item._Id}}" class="collapse">
									<div class="row">
										<div class="col-sm-12">
											<ul class="postlist">
												<li>
													<div class="panel panel-default">
														<div class="panel-body">
															<div class="row">
																<div class="col-sm-12">
																	<h3>Problem Statement</h3>
																	<div ng-bind-html="item._Body | unsafe"></div>	
																	<p></p>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" align="center">
					<ul ng-if="pager.pages.length" class="pagination">
						<li ng-class="{disabled:pager.currentPage === 1}">
							<a ng-click="setPage(1)">First</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === 1}">
							<a ng-click="setPage(pager.currentPage - 1)">Previous</a>
						</li>
						<li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
							<a ng-click="setPage(page)">{{page}}</a>
						</li>                
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="setPage(pager.currentPage + 1)">Next</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="setPage(pager.totalPages)">Last</a>
						</li>
					</ul>
				</div>	
			</div>
			
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/angular.min.js"></script>
	<script type="text/javascript" src="assets/angular-route.js"></script>
	<script type="text/javascript" src="assets/underscore.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/factory.js"></script>
	<script type="text/javascript" src="js/service.js"></script>
	<script type="text/javascript" src="js/filter.js"></script>
	<script type="text/javascript" src="js/posts/postController.js"></script>
</body>
</html>